<!DOCTYPE html>
<html>
<head>
    <title>进入VUE的大门</title>
    <meta charset="UTF-8">
    <title>Hello Vue</title>
</head>
<body>
    <div id='app'>
      <!-- 选择一个select,向服务器请求时候name就是key -->
      <select name="abc" id="" v-model="fru" multiple>
          <option value="苹果">苹果</option>
          <option value="香蕉">香蕉</option>
          <option value="萝卜">萝卜</option>
          <option value="榴莲">榴莲</option>
          <option value="葡萄">葡萄</option>
      </select>
      <h2>您选中的水果是:{{fru}}</h2>
      
      <label v-for="item in originhobbies" :for="item">
          <input type="checkbox" :value="item" v-model="hobbies" :id="item">{{item}}
      </label>
      <h2>您选中的爱好是:{{hobbies}}</h2>
    </div>
    

<script src="../js/vue.js"></script>
<script>
const app = new Vue({
    el:"#app",
    data:{
        message:"你好，vue",
        fru:"香蕉",
        originhobbies:["篮球","足球","橡胶球"],
        hobbies:[]

    },

})

</script>
</body>
</html>